.chatbox-header {
  height: 10%;
  width: 100%;
}

.chatbox-header-content {
  display: flex;
  background-color: #6d6a6a;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}